#departamento{
    background: dodgerblue;
    color: #fff;
    text-align: center;
    padding: 20px;
}
#departamento .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dep-info{
    margin: 28px;
}

.dep-info img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #fff;
}