@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('Menu.css');
@import url('Banner.css');
@import url('blog.css');
@import url('Departamentos.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background: dodgerblue;
    color: white;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header a{
    font-size: 20px;
    top: 0;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float:left;
}

header .contenedor{
    display: table;
}

section{
    width: 100%;
    margin-bottom: 25px;
}


#Bienvenidos {
    text-align: center;
    justify-content: center
}

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a{
    color: dodgerblue;
    text-decoration: none;
}

@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}

.wrap{
    width: 960px;
    max-width: 90%;
    margin: 0px auto;
    position: inherit;
    height: auto;
}

ul.tabs{
    width: 100%;
    padding: 15px;
    background: #fff;
    list-style: none;
    display: flex;
    float: left;
    border-bottom: 5px solid dodgerblue;
    border-left: 5px solid dodgerblue;
}

ul.tabs li{
    width: 160px;
}
ul.tabs li a{
    color:dodgerblue;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0px;
    border-left: 5px solid #fff;
    float: left;
    
}

.active{
    background: rgba(30, 144, 255,0.1);
    width: 100%;
}

.secciones{
    padding-top: 50px;
    width: 100%;
    background: white;
}

.secciones article{
    padding: 20px;
}

.secciones article p{
    text-align: justify;
    font-size: 18px;
}
.secciones article h1{
    font-size: 30px;
    padding: 5px;
    text-align: justify;
    color: darkblue;
    text-shadow: 3px 1px dodgerblue;
    position: relative;
}

.secciones article h2{
    padding: 10px;
    text-align: justify;
    color: dodgerblue;
}

.secciones article h3{
    padding: 5px;
    text-align: justify;
    color: dodgerblue;
}

.secciones article li{
    list-style-type: circle;
    color: black;
}

