
.wrap{
    width: 960px;
    max-width: 90%;
    margin: 0px auto;
    position: inherit;
    height: auto;
}

ul.tabs{
    width: 100%;
    padding: 15px;
    background: #fff;
    list-style: none;
    display: flex;
    float: left;
    border-bottom: 5px solid dodgerblue;
    border-left: 5px solid dodgerblue;
}

ul.tabs li{
    width: 160px;
}
ul.tabs li a{
    color:dodgerblue;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0px;
    border-left: 5px solid #fff;
    float: left;
    
}

.active{
    background: rgba(30, 144, 255,0.1);
    width: 100%;
}

.secciones{
    padding-top: 50px;
    width: 100%;
    background: white;
}

.secciones article{
    padding: 20px;
}

.secciones article p{
    text-align: justify;
    font-size: 18px;
}
.secciones article h1{
    font-size: 30px;
    padding: 5px;
    text-align: justify;
    color: darkblue;
    text-shadow: 3px 1px dodgerblue;
    position: relative;
}

.secciones article h2{
    padding: 10px;
    text-align: justify;
    color: dodgerblue;
}

.secciones article h3{
    padding: 5px;
    text-align: justify;
    color: dodgerblue;
}

.secciones article li{
    list-style-type: circle;
    color: black;
}
